## Import Dataset

In [1]:
import pandas as pd
!pip install xlrd
df=pd.read_excel('BostonData.xlsx')
df.head()

Requirement already satisfied: xlrd in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.2.0)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

## Missing Values

In [3]:
df['CRIM'].isnull().sum()

0

### 2nd column

In [4]:
df['ZN'].isnull().sum()

0

In [5]:
df['ZN'].value_counts()

0.0      63
25.0     10
12.5     10
21.0      4
28.0      3
75.0      3
80.0      2
17.5      1
100.0     1
85.0      1
90.0      1
18.0      1
Name: ZN, dtype: int64

### 3rd column

In [2]:
df['CHAS'].isnull().sum()

0

In [6]:
df['CHAS'].value_counts()

0    100
Name: CHAS, dtype: int64

### 4th column

In [7]:
df['INDUS'].isnull().sum()

0

### 5th column

In [8]:
df['NOX'].isnull().sum()

0

### 6th column

In [9]:
df['RM'].isnull().sum()

0

### 7th column

In [10]:
df['AGE'].isnull().sum()

0

### 8th column

In [11]:
df['DIS'].isnull().sum()

0

### 9th column

In [12]:
df['RAD'].isnull().sum()

0

### 10th column

In [13]:
df['TAX'].isnull().sum()

0

### 11th column

In [14]:
df['PTRATIO'].isnull().sum()

0

### 12th column

In [15]:
df['B'].isnull().sum()

0

### 13th column

In [16]:
df['LSTAT'].isnull().sum()

0

### 14th column

In [17]:
df['MEDV'].isnull().sum()

0

## Drop the non required column

In [18]:
df.drop(['CHAS'],axis=1,inplace=True)

In [19]:
df.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     100 non-null    float64
 1   ZN       100 non-null    float64
 2   INDUS    100 non-null    float64
 3   NOX      100 non-null    float64
 4   RM       100 non-null    float64
 5   AGE      100 non-null    float64
 6   DIS      100 non-null    float64
 7   RAD      100 non-null    int64
 8   TAX      100 non-null    int64
 9   PTRATIO  100 non-null    float64
 10  B        100 non-null    float64
 11  LSTAT    100 non-null    float64
 12  MEDV     100 non-null    float64
dtypes: float64(11), int64(2)
memory usage: 10.3 KB

## Feature Selection

In [21]:
import numpy as np

In [22]:
X=df[['CRIM','ZN','INDUS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT']].values

In [23]:
y=df['MEDV'].values

### Correlation

In [26]:
from scipy import stats

In [27]:
Pearson_coef1,p_value1=stats.pearsonr(df['CRIM'],df['MEDV'])
Pearson_coef1,p_value1

(-0.5664122645729456, 8.137594881351737e-10)

In [28]:
Pearson_coef1,p_value1=stats.pearsonr(df['ZN'],df['MEDV'])
Pearson_coef1,p_value1

(0.2602034521838459, 0.008935285928485748)

In [29]:
Pearson_coef1,p_value1=stats.pearsonr(df['INDUS'],df['MEDV'])
Pearson_coef1,p_value1

(-0.4593173980886274, 1.5333838240885444e-06)

In [30]:
Pearson_coef1,p_value1=stats.pearsonr(df['NOX'],df['MEDV'])
Pearson_coef1,p_value1

(-0.47974366168339855, 4.4106696328720686e-07)

In [31]:
Pearson_coef1,p_value1=stats.pearsonr(df['RM'],df['MEDV'])
Pearson_coef1,p_value1

(0.8465065876930135, 1.3979023684716334e-28)

In [32]:
Pearson_coef1,p_value1=stats.pearsonr(df['AGE'],df['MEDV'])
Pearson_coef1,p_value1

(-0.48058136689590125, 4.183643824038834e-07)

In [33]:
Pearson_coef1,p_value1=stats.pearsonr(df['DIS'],df['MEDV'])
Pearson_coef1,p_value1

(0.15966910245659185, 0.11255454441395954)

In [34]:
Pearson_coef1,p_value1=stats.pearsonr(df['RAD'],df['MEDV'])
Pearson_coef1,p_value1

(-0.30426013830175913, 0.0020863061720177876)

In [35]:
Pearson_coef1,p_value1=stats.pearsonr(df['TAX'],df['MEDV'])
Pearson_coef1,p_value1

(-0.36548605009089397, 0.00018465437143656485)

In [36]:
Pearson_coef1,p_value1=stats.pearsonr(df['PTRATIO'],df['MEDV'])
Pearson_coef1,p_value1

(-0.3508060634100537, 0.0003457294170367825)

In [37]:
Pearson_coef1,p_value1=stats.pearsonr(df['B'],df['MEDV'])
Pearson_coef1,p_value1

(0.3500704886453287, 0.00035648547112876325)

In [38]:
Pearson_coef1,p_value1=stats.pearsonr(df['LSTAT'],df['MEDV'])
Pearson_coef1,p_value1

(-0.7438902138388415, 7.543832956080817e-19)

## Feature Scaling

In [40]:
X1=df[['CRIM','ZN','INDUS','NOX','RM','AGE','RAD','TAX','PTRATIO','B','LSTAT']].values

In [41]:
y1=df['MEDV'].values

In [42]:
from sklearn import preprocessing
X1=preprocessing.StandardScaler().fit(X1).transform(X1)

## Train Test Split

In [44]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X1,y1,test_size=0.3,random_state=4)

## ML Algorithms

### 1. Linear Regression

In [45]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [46]:
pred1=lm.predict(X_test)

In [47]:
pred1

array([11.15582887, 22.63124565, 20.53582086, 20.02249327, 29.50043917,
       16.40429575, 23.66249903, 36.90656851, 32.00947051, 18.52539225,
       26.69992991, 30.62826226, 24.89345058, 15.56122608, 18.97125897,
       21.69347598, 18.15706066, 22.262996  , 19.89125954, 20.45171714,
       28.71690565, 31.78008758, 24.07755967, 18.93889584, 26.01548605,
       17.78776623, 24.43684728, 26.92320912, 21.60298916, 16.13984247])

### Accuracy

In [48]:
from sklearn.metrics import r2_score
r2_score(y_test,pred1)

0.7941985799910424

### 2. Polynomial Regression

In [65]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model
poly=PolynomialFeatures(degree=5)
train_x_poly=poly.fit_transform(X_train)
lm=linear_model.LinearRegression()
train_y_=lm.fit(train_x_poly,y_train)
test_x_poly=poly.fit_transform(X_test)
test_y_=lm.predict(test_x_poly)

In [66]:
r2_score(y_test,test_y_)

0.3591424572227577

### 3. Ridge Regression

In [67]:
from sklearn.linear_model import Ridge

In [71]:
ridge=Ridge(alpha=1)

In [72]:
ridge.fit(X_train,y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

### Hyperparameter tuning

In [70]:
from sklearn.model_selection import GridSearchCV

params={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}

gd=GridSearchCV(estimator=ridge,param_grid=params,cv=5)

gd.fit(X_train,y_train)

gd.best_params_

{'alpha': 1}

### Accuracy

In [73]:
pred2=ridge.predict(X_test)

In [74]:
r2_score(y_test,pred2)

0.8099334253697825

### 4. Lasso Regression

In [75]:
from sklearn.linear_model import Lasso

In [79]:
lasso=Lasso(alpha=0.01)

In [80]:
lasso.fit(X_train,y_train)

Lasso(alpha=0.01, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

### Hyperparameter tuning

In [78]:
from sklearn.model_selection import GridSearchCV

params={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}

gd2=GridSearchCV(estimator=lasso,param_grid=params,cv=5)

gd2.fit(X_train,y_train)

gd2.best_params_

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:492: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:492: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:492: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/linear_model/coordinate_descent.py:492: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

{'alpha': 0.01}

In [81]:
pred3=lasso.predict(X_test)

### Accuracy

In [82]:
r2_score(y_test,pred3)

0.8004092319703574

### Consolidated Accuracies

Linear --> 0.794
Ridge --> 0.809
Lasso --> 0.800